  
                   ####### CONFIGS SERVICE #######
________________________________________________________________________________


PORT=5000
NODE_ENV = development


##  PATH SAVE FILE  ##
FOLDER_PATH = C:/Users/Erlan/Downloads/dev


##  CONECTION DATABASE POSTGRES  ##
DB_HOST = localhost
DB_USER = postgres
DB_PASS = 0000000000
DB_DATABASE = distance_matrix


##  GOOGLE TOKEN  ##
GOOGLE_MAPS_API_KEY = 00000000000000000000